/*CSS Document*/
*{
    padding: 0;
    margin: 0;
}
body, html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}
canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}